StockDescriptionService/Service References/GetStockTickerService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTicker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTickerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>