StockDescriptionService/Service References/StockDataPoints/StockDataPointsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockDataPointsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockDataPointsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockDataPoints">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataPoints" nillable="true" type="tns:ArrayOfStockDataPoint" />
      <xs:element minOccurs="0" name="currentPrice" type="xs:double" />
      <xs:element minOccurs="0" name="lastMonthPrice" type="xs:double" />
      <xs:element minOccurs="0" name="lastYearPrice" type="xs:double" />
      <xs:element minOccurs="0" name="stockTicker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockDataPoints" nillable="true" type="tns:StockDataPoints" />
  <xs:complexType name="ArrayOfStockDataPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockDataPoint" nillable="true" type="tns:StockDataPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockDataPoint" nillable="true" type="tns:ArrayOfStockDataPoint" />
  <xs:complexType name="StockDataPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockDataPoint" nillable="true" type="tns:StockDataPoint" />
</xs:schema>