NitishsServices/Service-1/NearbyWeb/NearbyWeb/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NearByPlaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NearByPlaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlacesList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlacesList" nillable="true" type="tns:PlacesList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlacesList" nillable="true" type="tns:ArrayOfPlacesList" />
  <xs:complexType name="PlacesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatted_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlacesList" nillable="true" type="tns:PlacesList" />
  <xs:complexType name="ArrayOfPlacesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlacesDetails" nillable="true" type="tns:PlacesDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlacesDetails" nillable="true" type="tns:ArrayOfPlacesDetails" />
  <xs:complexType name="PlacesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatted_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="review" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlacesDetails" nillable="true" type="tns:PlacesDetails" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="author_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>