StockChartService/Service References/StockDataPointsService/StockDataPointsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.11.192:8001/StockDataPoints/StockDataPointsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockDataPointsService" />
  <xs:element name="GetStockDataPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockTicker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDataPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockDataPointsService" minOccurs="0" name="GetStockDataPointsResult" nillable="true" type="q1:StockDataPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>