NitishsServices/Service-2/NearByHotelService/HotelApplication/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NearByHotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NearByHotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelList" nillable="true" type="tns:HotelList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelList" nillable="true" type="tns:ArrayOfHotelList" />
  <xs:complexType name="HotelList">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatted_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelList" nillable="true" type="tns:HotelList" />
  <xs:complexType name="ArrayOfHotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelDetails" nillable="true" type="tns:HotelDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelDetails" nillable="true" type="tns:ArrayOfHotelDetails" />
  <xs:complexType name="HotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatted_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="review" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelDetails" nillable="true" type="tns:HotelDetails" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="author_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>